html, body {
	font-family: 'Archivo', sans-serif;
  margin: 0;
  padding: 0;

}

html, body,
.container {
  height:100%;
  min-height:100%;
}

.clearfix::after {
    content: "";
    clear: both;
    display: table;
}

.regular-button {
	float: right;
	width: 200px;
	margin: 20px 20px 20px 20px;
	display:block;
	line-height: 1.5;
	color: rgb(85,89,92);
	padding: 8px 12px;
	font-size: 16px;
	border-radius: 3px;
	box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
	cursor: pointer;
}

.regular-button:hover {
	background: rgb(245,245,245);
}

.jobs-list {
	text-align: center;
	padding: 0 2rem;
}
.jobs-list h1 {
	border-bottom: 1px solid #EAEAEA;
	padding: 1rem 0;
}
.jobs-list .job {
	position: relative;
	border-bottom: 1px solid #EAEAEA;
	padding: 1rem 0;
}
.jobs-list .job a, .create-job-button {
	text-decoration: none;
	font-size: 1.2rem;
	color: #39b;
	border: 2px solid #39b;
	padding: 0.2rem 0.5rem;
	margin-left: 2rem;
}
.jobs-list .job a {
	margin-right: 2rem;
}

.jobs-list .job a:hover, .create-job-button:hover {
	opacity: 0.7;
	cursor: pointer;
}

.jobs-list .job:hover {
	background-color: #EAEAEA;
}

.create-job-button {
	width: 5rem;
	margin: 1rem auto;
}
.job-form {
	padding-bottom: 8rem;
}
.form__section {
	margin: 2rem 0;
}
.form__section label {
	margin-right: 1rem;
}
.form__secton input {
	width: 12rem;
	padding: 0.5rem;
	border-radius: 2px;
}
.software, .application {
	width: calc(33% - 4.6rem);
	margin-left: 0.2rem;
	padding: 3rem 0;
	display: inline-block;
	border: 2px solid #000000;
	background-color: #EAEAEA;
	cursor: pointer;
}
.software:hover, .application:hover {
	opacity: 0.7;
}
.software.is-selected:hover, .application.is-selected:hover {
	opacity: 1;
}
.software.is-selected, .application.is-selected {
	border: 4px solid #39b;
	opacity: 0.7;
}
.software__info {
	margin: 2rem 0;
}
.simulation-button {
	padding: 1rem;
	outline: none;
	cursor: pointer;
	background: transparent;
	border: 2px solid #39b;
}
.job-screen {
	text-align: center;
}
.job-screen img {
	margin: 2rem 0;
}
.job-screen .job-details {
	margin: 1rem 0;
}
